[Unit]
Description=MPD client that lets the LED blink to the music
After=mpd.service radio-lightd.service
Requires=mpd.service radio-lightd.service

[Service]
ExecStart=/usr/bin/eulenfunk ambilight
Restart=on-failure

[Install]
WantedBy=multi-user.target
