[Unit]
Description=Server to render the LCD 4x20 matrix

[Service]
ExecStart=/usr/bin/eulenfunk display server --binary radio-lcd
Restart=on-failure

[Install]
WantedBy=multi-user.target
