[Unit]
Description=MPD client that show the current state on the LCD
After=mpd.service radio-displayd.service radio-ambilight.service
Requires=mpd.service radio-displayd.service radio-ambilight.service
PartOf=radio-displayd.service radio-ambilight.service

[Service]
ExecStart=/root/go/bin/eulenfunk ui
Restart=on-failure

[Install]
WantedBy=default.target
