[Unit]
Description=MPD client that lets the LED blink to the music
After=mpd.service radio-lightd.service
Requires=mpd.service radio-lightd.service
PartOf=mpd.service radio-lightd.service

[Service]
ExecStart=/root/go/bin/eulenfunk ambilight --music-dir /music --mood-dir /var/moody --driver radio-led
Restart=on-failure

[Install]
WantedBy=multi-user.target
