[Unit]
Description=Gets triggered on udev events and mounts usb sticks in order to create playlists
After=mpd.service
Requires=mpd.service
PartOf=mpd.service

[Service]
ExecStart=/root/go/bin/eulenfunk automount --music-dir /root/music
Restart=on-failure

[Install]
WantedBy=default.target
